/* BORDES */
/* .container
{
  border: 2px solid black;
}  */

/* Body */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.faq-button {
  display: block;
  width: 100%;
  text-align: left;
  color:#fff;
  padding: 10px;
  background-color:rgb(123, 45, 116); 
  border:none;
  border-radius: 20px;
}
.faq-button:hover {
  background-color: rgb(171, 188, 7) !important; 
  color:#fff;
  border:none;
  color: #000;
}

.cerrar-button {
  background-color: rgb(123, 45, 116); 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
}

.cerrar-button:hover {
  background-color:rgb(171, 188, 7); 
  border: none; 
}

.banner{
  background-color: rgb(121, 161, 130);
  color: rgb(255, 255, 255);
  font-weight: bold; /* Texto en negrita */
  font-family: 'Poppins', sans-serif;
  padding: 60px;
  margin-top:-50px;
}

#banner h2 {
  display: inline-block; 
  margin: 0 auto; 
}

/* Navar */
.navbar {
  background-color: rgb(244, 246, 239); /* Color de fondo del navbar */
}
.navbar-nav {
  margin-right: 10rem; /* Desplaza el menú hacia la izquierda */
 
}
.navbar-brand img {
  width: 50%; 
  height: 50%;
}

.navbar-nav .nav-link {
  margin-left: 10%; /* Espacio entre el logo y los enlaces */
  margin-left: 20px; /* Espacio entre los elementos del menú */
}

.navbar-nav .nav-item .nav-link {
  color: rgb(75, 105, 84); /* Color de las letras */
  font-weight: bold; /* Texto en negrita */
  font-family: 'Poppins', sans-serif; /* Fuente Poppins */
}

.contact-button {
  background-color: rgb(123, 45, 116); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 20px; /* Radio de borde */
  padding: 10px 20px; /* Padding interior */
}

.contact-button:hover {
  background-color: rgb(75, 105, 84); /* Cambio de color al pasar el cursor */
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(123, 45, 116); /* Cambio de color al pasar el cursor */
}

.navbar-nav .nav-item.active .nav-link {
  color: rgb(123, 45, 116); /* Color de subrayado activo */
}
.navbar-nav .nav-item:nth-child(1) .nav-link {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier texto que sobrepase el espacio disponible */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
}

.navbar-nav .nav-item {
  white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
  display: flex; /* Usa flexbox para manejar el espacio entre los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background: url('/assets/img/archipielagoChiloe2.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding-left: 3em; 
  z-index: 1
  
}

.circleHero {
  position: relative;
  background-color: #E0EAE2;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin-left: 10em;
  margin-top: 5em;

  z-index: 3; 
}

.circleHero img {
  max-width: 100%;
  height: auto;
  padding-top: 5em;
}


.hero .slogan {
  color: rgb(121, 161, 130);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}


.vectors {
  position: absolute;
  margin-left: 80em;
  margin-top: 20em;
  /* max-width: 35%;  */
  height: auto;
  z-index: 2; 
}

.text-block {
  margin-bottom: 5em; 
  text-align: right;
  color: rgb(244, 246, 239); 
  font-family: 'Poppins', sans-serif;
  z-index: 4; 


}

.text-block h1 {

  font-size: 40px; 
  margin-bottom: 20px;
  font-weight: bold;
  width: 50rem;
}


.hero .button {
  position: absolute;
  margin-top: 15em;  
  margin-left: 30em;
  padding: 15px 30px; 
  background-color: rgb(244, 246, 239);
  color: rgb(123, 45, 116);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.hero .button:hover {
  background-color: rgb(75, 105, 84);
  color: rgb(244, 246, 239);
}


.textSubTitles {
  color: rgb(75, 105, 84);
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  width: 100%;
  max-width: 700px;
  text-align: center;
 margin: auto;
}

.textSubTitlesSmall {
  color: rgb(75, 105, 84);
  font-size: 24px; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  text-align: center;
  padding: 5px;
}

/* Sección iconos */
.icon-container {
  text-align: center;
  padding-bottom: 100px;
}

.icon {
  width: 80px; 
  height: 80px; 
  
}

.icon-text {
  padding-top: 50px;
  max-width: 200px; /* Ajusta el ancho del texto */
  margin: 0 auto;
  color: rgb(75, 105, 84); /* Color del texto */
  font-size: 14px; /* Tamaño del texto */
}





/* Que ofrecemos */

.card {
  margin: 0 !important;
  background-color: rgb(123, 45, 116);
  color: #fff;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 250px !important; /* Ancho específico */
  height: 320px !important; /* Altura específica */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra contenido verticalmente */
  align-items: center; /* Centra contenido horizontalmente */
  text-align: center; /* Alinea texto al centro */
}

.card-body {
  margin-top: 60px !important; /* Empuja el contenido hacia abajo */
}

#que-ofrecemos h2.text-center {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold !important;
  font-size: 36px !important;
  color: rgb(75, 105, 84) !important;
  margin-bottom: 60px !important;
}

.card-text {
  font-size: 14px !important; /* Tamaño del texto */
  margin-top: auto !important; /* Elimina el margen superior predeterminado */
}

.card:hover {
  background-color: rgb(171, 188, 7) !important; /* Color al hacer hover (verde) */
  transform: translateY(-5px) !important;
  color: rgb(0, 0, 0) !important;
}





/* Metodología de Trabajo */
.metodologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
  background-color: rgb(244, 246, 239);
  color: rgb(75, 105, 84);
}

.metodologia h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  text-align: center;
  font-size: 36px;
  color: rgb(75, 105, 84);

}

.metodologia-imagen {
  text-align: center; /* Centra horizontalmente */
}

.metodologia-imagen img {
  display: inline-block; /* Asegura que la imagen se comporte como bloque inline */
  vertical-align: middle; /* Centra verticalmente */
  width: 80%;
  height: auto;
  margin: 40px 0;
}

.metodologia p {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

.text-Metodoligia-ol {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
}
.text-Metodoligia-h{
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold; 
}

.roles-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  /* border: 5px solid green; */
}


/*algunos proyectos*/

.project-section {
  text-align: center;
  padding: 50px 0;
}
.project-title {
   margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold; 
  text-align: center;
  color: rgb(75, 105, 84);
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.project-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-overlay {
  font-family: 'Popins', sans-serif;
  font-weight: bold; 
  font-size: 24px;
  background: rgba(104, 103, 103, 0.5);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
}

.project-description {
  font-family: 'Nunito', sans-serif;
  color: rgb(75, 105, 84);
  max-width: 200px;
}



/* Nuestras certificaciones*/
.textTitles{
  color: rgb(75, 105, 84);
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  font-size: 36px;
  padding-bottom: 100px;
} 

.textTitlesSmall {
  color: rgb(75, 105, 84);
  font-size: 20px; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  padding: 20px;
}


/*carrusel testimonios*/
#testimonios .carousel-item {
  padding: 20px 0;
}

/* #testimonios .carousel-caption {
  padding: 30px;
} */

.carousel-caption {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
text-align: center;
}


.text-width{
width: 300px;
}
#testimonios .carousel-item h5{
  padding-top: 10px;
  color: rgb(75, 105, 84);
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 15px;
}

#testimonios .carousel-item p {
  color: rgb(75, 105, 84);
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  flex-grow: 1;
  
}


#testimonios .carousel-control-prev-icon,
#testimonios .carousel-control-next-icon {

 background-color:rgb(0, 0, 0);
 color:#fff
}

#testimonios .carousel-control-prev{

  margin-left: -8%;
}
#testimonios .carousel-control-next{

  margin-right: -8%;
}

#testimonios .img-fluid{
  /*damos ancho y alto a la imagen*/
  width: 150px;
  height: 150px;
}


.custom-color {
  color: rgb(123, 45, 116);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.custom-color:hover {
  color: rgb(171, 188, 7);
}
.custom-color_bottom{
  margin-bottom: 30px;
}


/* Nosotros */
#nosotros .img-container {
  padding: 0px;
  margin: 0px;
}

#nosotros img {
  max-width: 100%; /* Ancho máximo del 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}

#nosotros h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold; 
  color: rgb(75, 105, 84); 
  text-align: center; /* Alineación del título al centro */
  margin-bottom: 20px;
}

#nosotros p {
  text-align: center; /* Alineación del párrafo al centro */
  margin: 20px 0; /* Espacio inferior para separar del botón */
  white-space: pre-line; /* Para mantener los saltos de línea */
}

#nosotros .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  padding: 0;
}

#nosotros .contact-button {
  background-color:rgb(123, 45, 116); 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  margin-left: 200%;
}
#nosotros .contact-button:hover {
  background-color: rgb(171, 188, 7);
  color: black
}

/*carrusel nuestro equipo*/
#equipo .carousel-item {
  padding: 20px 0;
}


#equipo .carousel-item h5{
  padding-top: 10px;
  color: rgb(75, 105, 84);
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 15px;
}

#equipo .carousel-item p {
  color: rgb(75, 105, 84);
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  flex-grow: 1;
  
}


#equipo .carousel-control-prev-icon,
#equipo .carousel-control-next-icon {

 background-color:rgb(0, 0, 0);
}

#equipo .carousel-control-prev{

  margin-left: -8%;
}
#equipo .carousel-control-next{

  margin-right: -8%;
}

#equipo .img-fluid{
  width: 150px;
  height: 150px;
}


.custom-color-equipo {
  color: white;
  background-color: rgb(123, 45, 116);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-color: rgb(123, 45, 116); 
  border-radius: 50px;
}

.custom-color-equipo:hover {
  background-color: rgb(171, 188, 7);
  color: black;
  border-color:  rgb(171, 188, 7);
}

/*Formulario*/
.form-container {
  background-color: rgb(121, 161, 130);
  border-radius: 60px;
  padding: 80px;
  width: 100%;
  height: 100%;
  color: white;
}

.form-h2{
  color: rgb(75, 105, 84);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 60px;
}

.form-container input,
.form-container textarea {
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
}

.form-container label {
  font-weight: bold;
  font-size: 20px;
}

.form-container button {
  background-color: rgb(123, 45, 116);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  margin: 20px;
  padding: 10px 20px;
}

.form-container button:hover {
  background-color: white;
  color:  rgb(123, 45, 116);
}

.contact-info {
  padding: 0px;
  margin-left: 0px;
  text-align: center;
}

.contact-info h2 {
  color: rgb(121, 161, 130);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.contact-info img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

.contact-info p {
  font-size: 16px;
  color: rgb(121, 161, 130);
  max-width: 80%;
  margin: 0 auto;
  text-align: left; 
  display: flex; 
  height: 30px;
  padding-left: 80px;
}

.contact-info .icon {
  color: rgb(0,0,0);
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Footer */
.bg-footer {
  background-color: rgb(123, 45, 116);
}

.circle-logo {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.social-icons-container {
  margin-top: 50px;
}

.social-icons-container img {
  max-width: 40px;
}
.textFooter{
  padding-left: 200px;
}

.text-white {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff; 
  text-align: left;

} 
.bg-footer {
  background-color: rgb(123, 45, 116);
}

.circle-logo {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.social-icons-container {
  margin-top: 50px;
}

.social-icons-container img {
  max-width: 40px;
}
.textFooter{
  padding-left: 200px;
}

.text-a-footer {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff; 
  text-align: left;

} 

.text-a-footer:hover {
  color:rgb(171, 188, 7);
}

.text-p-footer {
  font-family: 'Poppins', sans-serif;
  
  font-size: 14px;
  color: #fff; 
  text-align: left;

} 
/*Pantallas Grandes*/
@media (max-width: 1200px) {
  
  /* .vectors {
    margin-left: 30%;
  } */
  

}

/* pantallas medianas
@media (min-width: 992px) {
 
   
  
    .hero .text-block {
      margin-top: -55em;
      margin-left: 30em;
  
  
    }
    .text-block h1 {
      margin: 0;
      width: 15em;
     }
    .hero .text-block h1 {
      font-size: 40px; 
      text-align: center;
     }
    
  
    .hero .button {
      margin: 0;
      margin-top: 15em;
      margin-left: 20rem;
  
    }
  
    .hero .slogan {
      font-size: 24px;
  
      margin: 0;
      text-align: center;
    }
    .circleHero img {
      max-width: 100%;
      height: auto;
      margin-top: -3em;
    }
  
  
  }
/*Tablets grandes (iPad Pro, Surface Pro)*/
@media (min-width: 1024px) and (max-width: 1279px)  {
    /*tabletas horizontal laptos MacBook Air de 13" o MacBook Pro de 13".*/
         /*Hero section*/
     .navbar-brand img {
      width: 100%; /* Tamaño del logo */
    }
  
    .circleHero {
      margin: 0;
      margin-bottom: 19em;
      margin-left: 5em;
      border-radius: 50%;
      width: 500px;
      height: 500px;
    }
    .vectors {
    position: absolute;
    margin-left: 55em;
    margin-top: 25em;
    max-width: 50%; 
    /* height: auto; */
  
  }
    .hero .text-block {
      margin-top: -45em;
      margin-left: 25em;
  
  
    }
    .text-block h1 {
      margin: 0;
      width: 15em;
     }
    .hero .text-block h1 {
      font-size: 40px; 
      text-align: center;
     }
    
  
    .hero .button {
      margin: 0;
      margin-top: 15em;
      margin-left: 20rem;
  
    }
  
    .hero .slogan {
      font-size: 24px;
  
      margin: 0;
      text-align: center;
    }
    .circleHero img {
      max-width: 100%;
      height: auto;
      margin-top: -3em;
    }
  
  
  
  .textFooter{
    padding-left: 200px;
   }
   .card{
      margin-left: 75px;
   }
  
    .cut-bottom {
      position: absolute;
      bottom: -9.5%; /* Ajusta este valor para bajar más el contenedor */
      width: 100%;
      height: 80px; /* Ajusta esta altura según necesites */
      background-color: fff; /* Color de fondo de la página o del hero */
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    /*vertical iphone SE*/
    .circleHero {
      margin: 0;
      margin-top: 30em;
      margin-left: 30em;
      border-radius: 50%;
      width: 400px;
      height: 400px;
    }
    .vectors {
      display: none;
    
    }
    .hero .text-block {
      margin-top: -110em;
      margin-left: 6em;
  
  
    }
    .text-block h1 {
      margin: 0;
      width: 15em;
     }
    .hero .text-block h1 {
      font-size: 40px; 
      text-align: center;
     }
    
  
    .hero .button {
      margin: 0;
      margin-top: 20em;
  
    }
  
    .hero .slogan {
      font-size: 12px;
  
      margin: 0;
      text-align: center;
    }
    .circleHero img {
      max-width: 100%;
      height: auto;
      margin-top: -3em;
    }
  
}
/*Tablets estándar (iPad, Samsung Galaxy Tab)*/
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    /*Estilos horizontales dispositivos pequeños iphone SE*/
    .navbar-brand img {
      width: 20%; /* Tamaño del logo */
      height: 20%;
    }
   /*Hero section*/
   .circleHero {
    margin: 0;
    margin-top: 3em;
    margin-left: 5em;
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
  .vectors {
    display: none;
  
  }
  .hero .text-block {
    margin-top: -25em;
    margin-left: 20em;


  }
  .text-block h1 {
    margin: 0;
    width: 15em;
   }
  .hero .text-block h1 {
    font-size: 24px; 
    text-align: center;
   }
  

  .hero .button {
    margin: 0;
    margin-top: 10em;

  }

  .hero .slogan {
    font-size: 12px;

    margin: 0;
    text-align: center;
  }
  .circleHero img {
    max-width: 100%;
    height: auto;
    margin-top: -3em;
  }
   
}

@media (min-width: 576px) and (max-width: 767px) and (orientation: portrait){
  /*vertical iphone SE*/
  .circleHero {
  margin: 0;
  margin-top: 5em;
  margin-left: 5em;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.vectors {
  display: none;

}
.hero .text-block {
  margin-top: -25em;
  margin-left: 20em;


}
.text-block h1 {
  margin: 0;
  width: 15em;
 }
.hero .text-block h1 {
  font-size: 24px; 
  text-align: center;
 }


.hero .button {
  margin: 0;
  margin-top: 10em;

}

.hero .slogan {
  font-size: 12px;

  margin: 0;
  text-align: center;
}
.circleHero img {
  max-width: 100%;
  height: auto;
  margin-top: -3em;
}

}


@media (min-width: 576px) and (max-width: 767px) and (orientation: landscape){
  /* Estilos para teléfonos grandes */
  .navbar-brand img {
    width: 20%; /* Tamaño del logo */
    height: 20%;
  }
    /*tabletas en horizontal o Iphome ProMax*/
      /*Hero section*/
      .circleHero {
        margin: 0;
        margin-top: 5em;
        margin-left: 5em;
        border-radius: 50%;
        width: 250px;
        height: 250px;
      }
      .vectors {
        display: none;
      
      }
      .hero .text-block {
        margin-top: -25em;
        margin-left: 20em;
    
    
      }
      .text-block h1 {
        margin: 0;
        width: 15em;
       }
      .hero .text-block h1 {
        font-size: 24px; 
        text-align: center;
       }
      
    
      .hero .button {
        margin: 0;
        margin-top: 10em;
    
      }
    
      .hero .slogan {
        font-size: 12px;
    
        margin: 0;
        text-align: center;
      }
      .circleHero img {
        max-width: 100%;
        height: auto;
        margin-top: -3em;
      }
    
  .icon-row {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los iconos en la columna */
    gap: 40px; /* Ajusta el espacio entre los iconos */
  }

  .icon-container {
    padding-bottom: 40px; 
  }

  .icon-text {
    font-size: 12px; 
  }
 /*testimonio*/
  #carousel-caption {
    justify-content: flex-start;
    height: auto;
   }
 /*Nuestro equipo*/ 

  #equipo .carousel-caption{
    justify-content:flex-start ;
  }
  #nosotros .contact-button {
    margin-left: 100%;
  }
  .textFooter{
    padding-left: 100px;
   }
}

/*Teléfonos estándar (iPhone 13, Samsung Galaxy S22)*/
@media (max-width: 575px)  and (orientation: portrait) {
  /* Estilos para teléfonos estándar */

  
  .navbar-brand img {
    width: 50%; /* Tamaño del logo */
    height: 50%;
  }
  
     /*Hero section*/

     .circleHero {
      margin: 0;
      margin-top: 12em;
      margin-right: 3em;
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
    .vectors {
      display: none;
    
    }
    .hero .text-block {
      padding: 0;
      margin-top: -78em;
      margin-left: -1.5em;
      text-align: center;
      
  
    }
    .text-block h1 {
      margin: 0;
      width: 15em;
     }
    .hero .text-block h1,
    .hero .text-block p {
      font-size: 24px; 
      text-align: center;
     }
    
    .hero .button {
      margin: 0;
      margin-top: 10em;
    }
  
    .hero .slogan {
      font-size: 16px;
  
      margin: 0;
      text-align: center;
    }
    .circleHero img {
      max-width: 100%;
      height: auto;
      margin-top: -3em;
    }
  

  .social-icons-container img {
      max-width: 30px;
  }

  p {
      font-size: 14px;
  }
  .textFooter{
   padding-left: 60px;
  }
  .card{
    margin-left: 50px;
  }
  /*Testimonio*/ 

 
 #carousel-caption {
    justify-content: flex-start;
    height: auto;
    /* color: brown; */
  }
 /*Nuestro equipo*/ 

  #equipo .carousel-caption{
    justify-content:flex-start ;
  }
  
  /*Nosotros*/
  #nosotros h2 {
       margin-top: 50px;
       margin-bottom: 50px;
  }

  #nosotros .contact-button {
    margin-left: 100%;
  }
  /* modal*/
  .faq-button{
    width: 330px;
   }
  

}

/*Teléfonos estándar (iPhone 13, Samsung Galaxy S22)*/
@media (max-width: 575px)  and (orientation: landscape) {
  /* Estilos para teléfonos estándar */

  
  .navbar-brand img {
    width: 10%; /* Tamaño del logo */
    height: 10%;
  }
  
     /*Hero section*/

     .circleHero {
      display: none;
      /* margin: 0;
      margin-top: 12em;
      margin-right: 3em;
      border-radius: 50%;
      width: 300px;
      height: 300px; */
    }
    .vectors {
      display: none;
    
    }
    .hero .text-block {
      padding: 0;
      margin-top: -18em;
      margin-left: -2em;
      text-align: center;
      
  
    }
    .text-block h1 {
      margin: 0;
      width: 15em;
     }
    .hero .text-block h1,
    .hero .text-block p {
      font-size: 24px; 
      text-align: center;
     }
    
    .hero .button {
      margin: 0;
      margin-top: 10em;
    }
  
    .hero .slogan {
      font-size: 16px;
  
      margin: 0;
      text-align: center;
    }
    .circleHero img {
      max-width: 100%;
      height: auto;
      margin-top: -3em;
    }
  

  .social-icons-container img {
      max-width: 30px;
  }

  p {
      font-size: 14px;
  }
  .textFooter{
   padding-left: 60px;
  }
  .card{
    margin-left: 50px;
  }
  /*Testimonio*/ 

 
 #carousel-caption {
    justify-content: flex-start;
    height: auto;
    /* color: brown; */
  }
 /*Nuestro equipo*/ 

  #equipo .carousel-caption{
    justify-content:flex-start ;
  }
  
  /*Nosotros*/
  #nosotros h2 {
       margin-top: 50px;
       margin-bottom: 50px;
  }

  #nosotros .contact-button {
    margin-left: 100%;
  }
  /* modal*/
  .faq-button{
    width: 330px;
   }
  

}